<form [formGroup]="formGroup">
	<mat-horizontal-stepper linear>
		<mat-step>
			<ng-template matStepLabel>Fill out your favorite bike details</ng-template>
		<div>
			<button mat-button matStepperNext type="button">Next</button>
		</div>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>Detailed Summary</ng-template>
		</mat-step>
	</mat-horizontal-stepper>
</form>


<div class="row">
	<div class="container-form col-sm-6 col-md-6 col-lg-6">
		<mat-form-field>
			<input matInput required placeholder="Name" [formControl]="name" required>
			<mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
		</mat-form-field>

		<mat-form-field>
			<input matInput minlength="10" maxlength="10" placeholder="Mobile number" [formControl]="mobileNumber" required>
			<mat-error *ngIf="mobileNumber.invalid">{{getMobileErrorMessage()}}</mat-error>
		</mat-form-field>

		<mat-form-field>
			<input matInput placeholder="Enter your email" [formControl]="email" required>
			<mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
		</mat-form-field>
		<br><br>
		<mat-form-field>
			<mat-select placeholder="Select Bike Model" [(ngModel)]="selectedModelPrice" >
				<mat-option 
				(click)="calculateTotalAmount(rateOfIneterest)"
				(click)="downPaymentEntered(downPayment)"
				*ngFor="let bikeModel of bikeModels" 
				value="{{bikeModel.price}}">{{bikeModel.model}}</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field>
			<input matInput placeholder="Bike Price" disabled value="{{selectedModelPrice}}">
		</mat-form-field>

		<br><br>
		<mat-form-field>
			<input matInput placeholder="Down Payment" value="{{downPayment}}" [(ngModel)]="downPayment"
				(input)="downPaymentEntered($event.target.value)" (input)="calculateTotalAmount(rateOfIneterest)" type="number">
			<mat-error *ngIf="pattern">{{getDPErrorMessage()}}</mat-error>
		</mat-form-field>

		<mat-form-field>
			<input matInput placeholder="Loan Amount" disabled value="{{loanAmount}}" [(ngModel)]="loanAmount">
		</mat-form-field>

		<button type="button" class="btn btn-primary">Submit</button>
		
	</div>
	<div class="container col-sm-6 col-md-6 col-lg-6">
		<mat-form-field class="inputROI">
			<input (input)="calculateTotalAmount(rateOfIneterest)" (input)="showChart()" matInput 
			placeholder="Enter or Slide for Rate of Interest" [(value)]="rateOfIneterest" [(ngModel)]="rateOfIneterest">
		</mat-form-field> <br>
		<mat-slider 
				[(value)]="rateOfIneterest" thumbLabel="True" 
				tickInterval="auto" value="number" 
				min="5" max="20" step="1"
				(click)="showChart()"
				(click)="calculateTotalAmount(rateOfIneterest)">
		</mat-slider>
		<br> <br>
		<div  id="chart">
			<canvas baseChart
				[data]="lineChartData"
				[labels]="lineChartLabels"
				[options]="lineChartOptions"
				[chartType]="lineChartType"
				(chartHover)="chartHovered($event)"
				(chartClick)="chartClicked($event)">
			</canvas>
			<br> <br>
			<mat-form-field class="inputROI">
					<input matInput 
					placeholder="Enter or Slide for Tenure in years" [(value)]="tenure" [(ngModel)]="tenure">
			</mat-form-field> <br>
			<mat-slider 
					[(value)]="tenure" thumbLabel="True" 
					tickInterval="auto" value="number" 
					min="1" max="5" step="1"
					(click)="showChart()"
					(click)="calculateTotalAmount(rateOfIneterest)">
			</mat-slider>
		</div>
	</div>
</div>